.count-container{
  display: inline;
  width: 100px;
  height: 23px;
  background-color: #fff;
  border-radius: 5px;
}

.count-button {
  display: inline;
  width: 30px;
  height: 23px;
  font-size: 16px;
  text-align: center;

}


button:hover{
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}

.count{
  display: inline;
  width: 40px;
  padding: 0 15px;
  font-size: 15.3px;
  text-align: center;
}
